:root {
  --background: #131313;
  --text-color: #f4f4f4;
  --border-color: #3b3b3b;
  --correct: #538d4e;
  --misplaced: #b59f3b;
  --incorrect: #3a3a3c;
  --correct-border: #395936;
  --misplaced-border: #7d6e2a;
  --incorrect-border: #2a2a2b;
  --keyboard-key-color: #7b7b7b;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--text-color);
  background-color: var(--background);
}

header {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.5em;
}

button {
  touch-action: manipulation;
}

#button-settings {
  text-align: right;
  background-color: var(--background);
  color: var(--text-color);
}

#game {
  height: 70vh;
  justify-content: center;
}

#game-grid {
  margin: 0 auto;
  display: grid;
  gap: 8px;
  justify-content: center;
  margin-top: 1.5em;
}

.letter {
  width: 60px;
  height: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background: var(--correct);
  border: 2px solid var(--correct-border);
}

.misplaced {
  background: var(--misplaced);
  border: 2px solid var(--misplaced-border);
}

.incorrect {
  background: var(--incorrect);
  border: 2px solid var(--incorrect-border);
}

#game-loading {
  text-align: center;
}

.hidden {
  display: none;
}

#keyboard {
  margin: auto;
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.key {
  display: flex;
  background-color: var(--keyboard-key-color);
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 14pt;
  min-width: 2rem;
  min-height: 3rem;
  color: var(--text-color);
}

.big-key {
  width: 3.3rem;
  font-weight: normal;
}

#key-enter {
  font-size: 10pt;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.correct-keyboard {
  background-color: var(--correct);
}

.misplaced-keyboard {
  background-color: var(--misplaced);
}

.incorrect-keyboard {
  background-color: var(--incorrect);
}
